/* these all are simple selectors  */

/* tag selector: we use html tag to use the select  */

        /* use the selector n point out that which tag u what to store that style  */
    /* h1{
        border:1px solid black;
        color:aqua;
        font-size: 25px;
        font-weight: 800;
    }
    p{ */
        /* border:1px solid black;
        color:yellow;
        font-size: 15px;
        font-weight: 500; */
    /* } */
    /* class selector: it select html elements with spectidic attributes */
    /* .class_name{
        property:value;
    } */

    /* .para{
        color:red;
    } */

    /* id selector: it select the html elements with specfied id  */
/* #para-1{
    color:burlywood;
} */
/* universal selector: select all html elements in your page  */
 /* *{
    text-align: center;
 } */

 /* grouping selector: use for grouping different selector with same style   */
h1 ,p{
    border:1px solid black;
    color:aqua;
    font-size: 25px;
    font-weight: 800;
 
}
.btn{
    border: 1px solid blue;
    border-radius: 20px;
    padding: 10px 20px;
    width: 20%;
    font-size: 14px;
}
#btn-1{
    background-color: aqua;
}
#btn-2{
    background-color: aqua;
}
#btn-3{
    background-color: aqua;
}
  
